body{
  margin: 0;
  text-align: center;
  color: #40514E;
}


#Main-img {
  height: 32.1em;
  width: 100%;
  margin-bottom: 50px;
}
#id1{

  font-size: 28px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  color: White;
  display: inline;
}
#id2{

  font-size: 30px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: White;
  display: inline;
}
#mainid {
  margin: 0;
  padding: 0;

}
h1 {
  font-size: 60px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  padding-top: 125px;
  margin: 0;
  color: white;
  padding-bottom: 15px;
}

.skill-row1 {
  width: 50%;
  margin: 115px auto;
  text-align: left;

}

.skill-row2 {
    width: 50%;
    margin: 150px auto;
    text-align: right;
}
.skill-image1 {
  width: 25%;
  height: 25%;
}
  .skill-image2 {
    width: 25%;
    height: 28%;
    float: left;
    margin-right: 30px;
  }
  .skill-image3 {
    width: 25%;
    height: 28%;
    float: right;
    margin-left: 30px;
  }
hr {
  border-style: dotted none none;
  border-width: 10px;
  width: 3%;
  margin: 100px auto;
  color: #EAF6F6;
}
.details {
  position: absolute;
  top: 40%;
    left: 18.75em;
}
.intro {
  margin: auto;
  width: 30%;
}
.mountain{
  position: relative;
  margin: auto;
  text-align: center;
}
h2 {
  color: #66BFBF;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;

}
a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
p {
  line-height: 2;
  font-family: 'Lato', sans-serif;

}
.contact-me {
  margin: auto auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 0.5rem;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 35px 0 7px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0 0;
}
